Repository gemini-hlsw/observe, pull requests merged in 2023-10, with the labels that each got.

#795 Allow package.json
  .gitignore
  modules/web/package.json
Labels: web

#796 Switch to unfonts
  modules/web/package.json
  modules/web/src/main/scala/observe/ui/Main.scala
  modules/web/src/main/webapp/main.jsx
  modules/web/vite.config.js
Labels: web

#800 Switch to shared giapi-scala lib
  .mergify.yml
  build.sbt
  modules/giapi/src/main/scala/giapi/client/GiapiClient.scala
  modules/giapi/src/main/scala/giapi/client/GiapiConfig.scala
  modules/giapi/src/main/scala/giapi/client/GiapiDb.scala
  modules/giapi/src/main/scala/giapi/client/GiapiStatusDb.scala
  modules/giapi/src/main/scala/giapi/client/commands/package.scala
  modules/giapi/src/main/scala/giapi/client/ghost/GhostClient.scala
  modules/giapi/src/main/scala/giapi/client/gpi/GpiClient.scala
  modules/giapi/src/main/scala/giapi/client/gpi/package.scala
  modules/giapi/src/main/scala/giapi/client/package.scala
  modules/giapi/src/main/scala/giapi/client/syntax/giapiconfig.scala
  modules/giapi/src/main/scala/giapi/client/syntax/package.scala
  modules/giapi/src/main/scala/giapi/client/syntax/status.scala
  modules/giapi/src/test/scala/giapi/client/GiapiArbitraries.scala
  modules/giapi/src/test/scala/giapi/client/GiapiCommandSpec.scala
  modules/giapi/src/test/scala/giapi/client/GiapiStatusSuite.scala
  modules/giapi/src/test/scala/giapi/client/commands/CommandsSuite.scala
  project/Settings.scala
Labels: giapi

#793 Restored the watchdog of the main stream process.
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
Labels: server_new

#804 Move web client to subfolder
  .mergify.yml
  build.sbt
  modules/web/client/package.json
  modules/web/client/project/build.properties
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
  modules/web/client/src/main/public/environments.conf.json
  modules/web/client/src/main/publicdev/environments.conf.json
  modules/web/client/src/main/scala/observe/ui/AppConfig.scala
  modules/web/client/src/main/scala/observe/ui/AppContext.scala
  modules/web/client/src/main/scala/observe/ui/BroadcastEvent.scala
  modules/web/client/src/main/scala/observe/ui/Icons.scala
  modules/web/client/src/main/scala/observe/ui/Layout.scala
  modules/web/client/src/main/scala/observe/ui/Main.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/Routing.scala
  modules/web/client/src/main/scala/observe/ui/components/ConfigSection.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/TopBar.scala
  modules/web/client/src/main/scala/observe/ui/components/package.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/package.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ControlButtonResolver.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ProgressLabel.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/SettingsCell.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/SubsystemControls.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/package.scala
  modules/web/client/src/main/scala/observe/ui/display/givens.scala
  modules/web/client/src/main/scala/observe/ui/model/Page.scala
  modules/web/client/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/model/SessionQueueRow.scala
  modules/web/client/src/main/scala/observe/ui/model/TabOperations.scala
  modules/web/client/src/main/scala/observe/ui/model/enums/AppTab.scala
  modules/web/client/src/main/scala/observe/ui/model/enums/ClientMode.scala
  modules/web/client/src/main/scala/observe/ui/model/enums/ObsClass.scala
  modules/web/client/src/main/scala/observe/ui/model/enums/OffsetsDisplay.scala
  modules/web/client/src/main/scala/observe/ui/model/reusability.scala
  modules/web/client/src/main/scala/observe/ui/package.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApiImpl.scala
  modules/web/client/src/main/scala/observe/ui/utils.scala
  modules/web/client/src/main/webapp/index.html
  modules/web/client/src/main/webapp/main.jsx
  modules/web/client/src/main/webapp/styles/observe.scss
  modules/web/client/src/main/webapp/styles/prime.scss
  modules/web/client/src/main/webapp/styles/style.scss
  modules/web/client/vite.config.js
Labels: web

#802 Remove unused libraries
  build.sbt
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  project/Settings.scala
Labels: model, server, server_new

#805 Bump lucuma-ui (removes broadcast lib), add running step to ExecutionState
  .gitignore
  modules/model/shared/src/main/scala/observe/model/ExecutionState.scala
  modules/web/client/package.json
  modules/web/client/src/main/scala/observe/ui/BroadcastEvent.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  project/Settings.scala
Labels: client, model

#806 Configuration tab, conditions being sent to server
  .gitignore
  build.sbt
  modules/model/shared/src/main/scala/observe/model/Conditions.scala
  modules/model/shared/src/test/scala/observe/model/ObserveModelArbitraries.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/keywords/StandardHeader.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/StepsViewSuite.scala
  modules/web/client/src/main/publicdev/environments.conf.json
  modules/web/client/src/main/scala/observe/ui/Main.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/ConfigSection.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApiImpl.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  modules/web/client/vite.config.js
  modules/web/server/src/main/resources/app.conf
  project/Settings.scala
Labels: client, model, server, server_new

#808 Refactor initialization, set up WS connection
  modules/model/shared/src/main/scala/observe/model/Environment.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/main/scala/observe/model/newTypes.scala
  modules/model/shared/src/test/scala/observe/model/ObserveModelArbitraries.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbEnvironment.scala
  modules/web/client/src/main/scala/observe/ui/Main.scala
  modules/web/client/src/main/scala/observe/ui/components/ConfigSection.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/Routing.scala
  modules/web/client/src/main/scala/observe/ui/components/TopBar.scala
  modules/web/client/src/main/scala/observe/ui/components/package.scala
  modules/web/client/src/main/scala/observe/ui/model/AppConfig.scala
  modules/web/client/src/main/scala/observe/ui/model/AppContext.scala
  modules/web/client/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/model/reusability.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApiImpl.scala
  modules/web/client/src/main/webapp/main.jsx
  modules/web/client/vite.config.js
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveEventRoutes.scala
  project/Settings.scala
Labels: client, model, server

#811 Send auth token to API
  modules/web/client/src/main/scala/observe/ui/components/ConfigSection.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/model/AppContext.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApiImpl.scala
Labels: client

#813 Require SSO authentication to access the routes
  build.sbt
  modules/engine/src/main/scala/observe/engine/Event.scala
  modules/engine/src/main/scala/observe/engine/UserEvent.scala
  modules/engine/src/test/scala/observe/engine/SequenceSuite.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/engine/src/test/scala/observe/engine/packageSpec.scala
  modules/model/jvm/src/main/scala/observe/model/config/LucumaSSOConfiguration.scala
  modules/model/shared/src/main/scala/observe/model/BatchCommandState.scala
  modules/model/shared/src/main/scala/observe/model/authentication.scala
  modules/model/shared/src/main/scala/observe/model/events.scala
  modules/model/shared/src/test/scala/observe/model/ModelSuite.scala
  modules/model/shared/src/test/scala/observe/model/ObserveModelArbitraries.scala
  modules/model/shared/src/test/scala/observe/model/SequenceEventsArbitraries.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqEvent.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/StepsViewSuite.scala
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/main/scala/observe/web/server/config/package.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestRoutes.scala
  project/Settings.scala
Labels: engine, model, server, server_new

#818 Send the execution state on refresh
  modules/model/shared/src/main/scala/observe/model/ExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/SequencesQueue.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/main/scala/observe/model/events.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbClientEvent.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/vars.scala
Labels: client, model, server

#822 Restore ping route
  modules/web/server/src/main/scala/observe/web/server/http4s/PingRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Labels: server

#823 Restore the load route
  modules/model/shared/src/main/scala/observe/model/events.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/vars.scala
Labels: model, server, server_new

#829 Execute
  build.sbt
  modules/model/shared/src/main/scala/observe/model/SingleActionOp.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/main/scala/observe/model/events.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbClientEvent.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/vars.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/ObserveCommandRoutesSuite.scala
Labels: client, model, server

#828 More robust resync. Fix state update.
  modules/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/model/enums/SyncStatus.scala
  modules/web/client/src/main/scala/observe/ui/model/reusability.scala
Labels: client

#830 Restore functionality to enable/disable subsystems
  modules/model/shared/src/main/scala/observe/model/Environment.scala
  modules/model/shared/src/main/scala/observe/model/ExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/SequenceView.scala
  modules/model/shared/src/main/scala/observe/model/SystemOverrides.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/main/scala/observe/model/events.scala
  modules/model/shared/src/main/scala/observe/model/newTypes.scala
  modules/model/shared/src/test/scala/observe/model/ObserveModelArbitraries.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqEvent.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceData.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/server_new/src/test/scala/observe/server/EpicsUtilSuite.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/StepsViewSuite.scala
  modules/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/Routing.scala
  modules/web/client/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApiImpl.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/vars.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/ObserveCommandRoutesSuite.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
  project/plugins.sbt
Labels: client, model, server, server_new

#831 Restore endpoint to set a breakpoint
  modules/engine/src/main/scala/observe/engine/Sequence.scala
  modules/engine/src/main/scala/observe/engine/Step.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/main/scala/observe/model/events.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/StepsView.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosStepsView.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/ObserveCommandRoutesSuite.scala
Labels: engine, model, server, server_new

#833 Edit Observer. Abstract clientId in APIs. New SequenceApi. Invoke setBreakpoint on server.
  modules/model/shared/src/main/scala/observe/model/BatchCommandState.scala
  modules/model/shared/src/main/scala/observe/model/SequenceMetadata.scala
  modules/model/shared/src/main/scala/observe/model/SequencesQueue.scala
  modules/model/shared/src/main/scala/observe/model/newTypes.scala
  modules/model/shared/src/test/scala/observe/model/ModelSuite.scala
  modules/model/shared/src/test/scala/observe/model/ObserveModelArbitraries.scala
  modules/server_new/src/main/scala/observe/server/keywords/StandardHeader.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/StepsViewSuite.scala
  modules/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/Routing.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/model/SessionQueueRow.scala
  modules/web/client/src/main/scala/observe/ui/services/ApiClient.scala
  modules/web/client/src/main/scala/observe/ui/services/BaseApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApiImpl.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApi.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApiImpl.scala
  modules/web/client/src/main/scala/observe/ui/services/package.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/vars.scala
Labels: client, model, server, server_new

#834 Implement start command
  modules/model/shared/src/main/scala/observe/model/events.scala
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/OdbProxy.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
Labels: model, server, server_new

#836 Restore methos to set operator and observer
  modules/model/shared/src/main/scala/observe/model/ExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/main/scala/observe/model/events.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbClientEvent.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/vars.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/ObserveCommandRoutesSuite.scala
Labels: client, model, server

#837 Support user prompt messages
  modules/model/shared/src/main/scala/observe/model/UserPrompt.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/main/scala/observe/model/events.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbUserPrompt.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
Labels: client, model, server_new

#838 Show observation header, keep obs details and sequence loaded until a new one is selected
  .mergify.yml
  build.sbt
  modules/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
  modules/web/client/src/clue/scala/observe/queries/ObservationSummarySubquery.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Labels: client

#839 Load sequence with button, invoke server
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApi.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApiImpl.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Labels: client

#840 Support setting multiple breakpoints and set breakpoints on load
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/Event.scala
  modules/engine/src/main/scala/observe/engine/Sequence.scala
  modules/engine/src/main/scala/observe/engine/Step.scala
  modules/engine/src/main/scala/observe/engine/UserEvent.scala
  modules/engine/src/test/scala/observe/engine/SequenceSuite.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/engine/src/test/scala/observe/engine/packageSpec.scala
  modules/model/shared/src/main/scala/observe/model/Step.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbNodAndShuffleStep.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbStandardStep.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/StepsView.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosStepsView.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/vars.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/ObserveCommandRoutesSuite.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Labels: engine, model, server, server_new

#841 Get all state from server, start sequence working
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/Routing.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/model/reusability.scala
  modules/web/client/src/main/scala/observe/ui/services/ApiClient.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApi.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApiImpl.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Labels: client

#843 Pass initial breakpoints from ODB to server when loading a sequence
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApi.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApiImpl.scala
Labels: client

#846 Allow selection and unselection of rows in UI when nothing is running
  .scalafmt.conf
  modules/model/shared/src/main/scala/observe/model/ExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/enums/ActionStatus.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client/src/main/scala/observe/ui/model/SequenceOperations.scala
  modules/web/client/src/main/scala/observe/ui/model/reusability.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Labels: client, model

#849 Execute subsystems from UI
  modules/model/shared/src/main/scala/observe/model/package.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/SubsystemControls.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApi.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApiImpl.scala
Labels: client, model

#852 Simulate subsystem execution locally
  .scalafmt.conf
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbClientEvent.scala
  modules/web/client/src/main/scala/observe/ui/Icons.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/package.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/SubsystemControls.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/model/SequenceOperations.scala
  modules/web/client/src/main/webapp/styles/style.scss
Labels: client, model
