Repository gemini-hlsw/observe, pull requests merged in 2023-11, with the labels that each got.

#859 Various UI improvements
  modules/web/client/src/main/scala/observe/ui/Icons.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/model/reusability.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  project/Settings.scala
Labels: client

#860 Disable selection and breakpoint toggle in possibleFuture steps
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Labels: client

#855 Include step resources being executed as part of the state
  modules/engine/src/main/scala/observe/engine/Action.scala
  modules/engine/src/main/scala/observe/engine/ActionCoords.scala
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/Execution.scala
  modules/engine/src/main/scala/observe/engine/Result.scala
  modules/engine/src/main/scala/observe/engine/Sequence.scala
  modules/engine/src/test/scala/observe/engine/SequenceSuite.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/engine/src/test/scala/observe/engine/packageSpec.scala
  modules/model/shared/src/main/scala/observe/model/ActionType.scala
  modules/model/shared/src/main/scala/observe/model/ExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/SequenceView.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/test/scala/observe/model/ObserveModelArbitraries.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbClientEvent.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/Response.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/StepsView.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosInstrumentActions.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsControllerEpicsCommon.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/stateengine/src/test/scala/stateengine/StateEngineSuite.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Labels: client, engine, model, server_new, stateengine

#862 Better error display, adapt to latest server changes reporting subsystem state
  modules/model/shared/src/main/scala/observe/model/ExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/SequenceView.scala
  modules/model/shared/src/main/scala/observe/model/StepState.scala
  modules/model/shared/src/test/scala/observe/model/ObserveModelArbitraries.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbClientEvent.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  project/Settings.scala
Labels: client, model, server_new

#865 Unify config panel
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/Routing.scala
  modules/web/client/src/main/scala/observe/ui/model/Page.scala
  modules/web/client/src/main/scala/observe/ui/model/enums/AppTab.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApiImpl.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  project/Settings.scala
Labels: client

#868 Migrate pause/stop/resume/abort endpoints
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/ObserveCommandRoutesSuite.scala
Labels: server

#871 Pause events
  modules/model/shared/src/main/scala/observe/model/events.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/ObserveCommandRoutesSuite.scala
Labels: model, server

#880 Sequence control button strip as InputGroup
  .gitignore
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
  project/Settings.scala
Labels: client

#882 Packaging
  README.md
  build.sbt
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/vite.config.js
  modules/web/server/TLS.md
  modules/web/server/cacerts.jks.dev
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/main/scala/observe/web/server/http4s/LogInitialization.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/StaticRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/package.scala
Labels: client, server

#892 Minimal set of changes to work with latest ODB schema
  modules/model/shared/src/test/scala/observe/model/ClientEventSuite.scala
  modules/model/shared/src/test/scala/observe/model/ModelSuite.scala
  modules/model/shared/src/test/scala/observe/model/ObserveEventSuite.scala
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/ObserveServerArbitraries.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbLoadedObservation.scala
  project/Settings.scala
Labels: model, server_new, client-model

#890 Multiple deploys
  README.md
  app/observe-server-gn-test/src/main/resources/app.conf
  app/observe-server-gn-test/src/main/resources/app/environments.conf.json
  app/observe-server-gn-test/src/main/resources/conf/app.conf
  app/observe-server-gn/src/main/resources/app.conf
  app/observe-server/src/main/resources/conf/app.conf
  app/observe-server/src/main/resources/systemd/observe-server.env
  app/observe-server/src/main/resources/systemd/observe-server.service
  app/observe-server/src/main/resources/update_smartgcal
  build.sbt
  modules/model/jvm/src/main/scala/observe/model/config/AuthenticationConfig.scala
  modules/model/jvm/src/main/scala/observe/model/config/ObserveConfiguration.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/main/scala/observe/web/server/config/package.scala
  modules/web_old/server/src/test/scala/observe/web/server/config/ConfigurationLoaderSpec.scala
  modules/web_old/server/src/test/scala/observe/web/server/security/FreeLDAPAuthenticationServiceSpec.scala
  modules/web_old/server/src/test/scala/observe/web/server/security/JWTTokensSpec.scala
  project/AppsCommon.scala
Labels: client, model, server, observe-server, observe-server-gn, observe-server-gn-test
