Repository gemini-hlsw/observe, pull requests merged in 2023-12, with the labels that each got.

#897 Support configuring Resources and Instrumens per step
  flake.nix
  modules/model/shared/src/main/scala/observe/model/Notification.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbNotification.scala
  modules/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/SeqEvent.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/vars.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Labels: model, server, server_new

#898 General cleanup
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/EventResult.scala
  modules/engine/src/main/scala/observe/engine/Handle.scala
  modules/engine/src/main/scala/observe/engine/Response.scala
  modules/engine/src/main/scala/observe/engine/package.scala
  modules/model/shared/src/main/scala/observe/model/dhs/package.scala
  modules/model/shared/src/main/scala/observe/model/enums/ObserveCommandResult.scala
  modules/server_new/src/main/scala/observe/server/InstrumentActions.scala
  modules/server_new/src/main/scala/observe/server/ObsQueryInput.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/keywords/DhsClientHttp.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/server_new/src/main/scala/observe/server/syntax.scala
  modules/server_new/src/test/scala/observe/server/InstrumentControllerSimSuite.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
Labels: engine, model, server_new

#908 Reconnect to server and resync
  build.sbt
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  project/Settings.scala
Labels: client

#912 Keep track of UI requests
  modules/server_new/src/main/scala/observe/server/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/altair/AltairControllerEpics.scala
  modules/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  modules/web/client-model/src/main/scala/observe/ui/model/ObservationRequests.scala
  modules/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client-model/src/main/scala/observe/ui/model/enums/OperationRequest.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbObsSummary.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbObservationRequests.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
  modules/web/client-model/src/test/scala/observe/ui/model/enums/OperationRequestOpticsSuite.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/SubsystemControls.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/model/SequenceOperations.scala
  modules/web/client/src/main/scala/observe/ui/model/reusability.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApiImpl.scala
Labels: client, server_new, client-model

#916 Include the paused step if a sequence has been paused
  modules/model/shared/src/main/scala/observe/model/ExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/SequenceView.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/main/scala/observe/model/newTypes.scala
Labels: model

#913 Implement missing sequence operations
  .gitignore
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
  modules/web/client/src/main/scala/observe/ui/Icons.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApi.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  project/Settings.scala
Labels: client, model

#917 Switch to cats-parser
  build.sbt
  modules/server_new/src/main/scala/observe/server/tcs/ScienceFoldPositionCodex.scala
  modules/server_new/src/test/scala/observe/server/tcs/ScienceFoldPositionCodexSuite.scala
  project/Settings.scala
Labels: server_new
