Repository gemini-hlsw/observe, pull requests merged in 2023-09, with the labels that each got.

#752 Breakpoints, share sequence columns with explore, sequence table styling
  modules/new_model/shared/src/main/scala/observe/model/ExecutionState.scala
  modules/new_model/shared/src/main/scala/observe/model/enums/SequenceState.scala
  modules/new_model/shared/src/main/scala/observe/model/enums/SystemName.scala
  modules/web/src/main/scala/observe/ui/Icons.scala
  modules/web/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/src/main/scala/observe/ui/components/Home.scala
  modules/web/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/src/main/scala/observe/ui/components/sequence/ControlButtons.scala
  modules/web/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/src/main/scala/observe/ui/components/sequence/StepsTable.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/ExposureTimeCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/ObjectTypeCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/OffsetDisplayCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/ProgressLabel.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/StepIconCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/StepSkipCell.scala
  modules/web/src/main/scala/observe/ui/components/sequence/steps/SubsystemControls.scala
  modules/web/src/main/scala/observe/ui/display/givens.scala
  modules/web/src/main/scala/observe/ui/model/reusability.scala
  modules/web/src/main/webapp/main.jsx
  modules/web/src/main/webapp/styles/observe.scss
  modules/web/vite.config.js
  project/Settings.scala
Labels: new_model, web

#760 UI layout
  build.sbt
  modules/web/src/main/scala/observe/ui/AppContext.scala
  modules/web/src/main/scala/observe/ui/Icons.scala
  modules/web/src/main/scala/observe/ui/Layout.scala
  modules/web/src/main/scala/observe/ui/Main.scala
  modules/web/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/src/main/scala/observe/ui/Page.scala
  modules/web/src/main/scala/observe/ui/Routing.scala
  modules/web/src/main/scala/observe/ui/components/Home.scala
  modules/web/src/main/scala/observe/ui/components/ThemeSelector.scala
  modules/web/src/main/scala/observe/ui/components/TopBar.scala
  modules/web/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/src/main/scala/observe/ui/model/Page.scala
  modules/web/src/main/scala/observe/ui/model/SessionQueueFilter.scala
  modules/web/src/main/scala/observe/ui/model/enums/AppTab.scala
  modules/web/src/main/webapp/main.jsx
  modules/web/src/main/webapp/styles/observe.scss
  project/Settings.scala
Labels: web

#774 Test porting
  build.sbt
  modules/engine/src/test/scala/observe/engine/SequenceSuite.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/engine/src/test/scala/observe/engine/packageSpec.scala
  modules/giapi/src/test/scala/giapi/client/GiapiCommandSpec.scala
  modules/giapi/src/test/scala/giapi/client/GiapiStatusSuite.scala
  modules/giapi/src/test/scala/giapi/client/commands/CommandsSuite.scala
  modules/model/jvm/src/test/scala/observe/model/config/ConfigModelSuite.scala
  modules/model/shared/src/main/scala/observe/model/TelescopeGuideConfig.scala
  modules/model/shared/src/test/scala/io/chrisdavenport/cats/time/instances/TimeArbitraries.scala
  modules/model/shared/src/test/scala/observe/common/FixedLengthBufferSuite.scala
  modules/model/shared/src/test/scala/observe/model/ModelLensesSuite.scala
  modules/model/shared/src/test/scala/observe/model/ModelSuite.scala
  modules/model/shared/src/test/scala/observe/model/NSSubexposureSuite.scala
  modules/model/shared/src/test/scala/observe/model/ObserveEventSuite.scala
  modules/model/shared/src/test/scala/observe/model/boopickle/ModelBooPicklersSpec.scala
  modules/server/src/main/scala/observe/server/CleanConfig.scala
  modules/server/src/main/scala/observe/server/ConfigUtilOps.scala
  modules/server/src/test/scala/observe/server/CleanConfigSpec.scala
  modules/server/src/test/scala/observe/server/ConfigUtilSpec.scala
  modules/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceData.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/gems/Gems.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosKeywordReader.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/server_new/src/main/scala/observe/server/tcs/BasicEpicsTcsConfig.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsController.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsControllerEpicsCommon.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsNorthController.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsNorthControllerEpicsAo.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsSouthControllerEpicsAo.scala
  modules/server_new/src/test/scala/observe/server/EpicsUtilSuite.scala
  modules/server_new/src/test/scala/observe/server/InstrumentControllerSimSuite.scala
  modules/server_new/src/test/scala/observe/server/gcal/GcalSuite.scala
  modules/server_new/src/test/scala/observe/server/gmos/GmosSpec.scala
  modules/server_new/src/test/scala/observe/server/tcs/GuideConfigDbSuite.scala
  modules/server_new/src/test/scala/observe/server/tcs/ScienceFoldPositionCodexSuite.scala
  modules/server_new/src/test/scala/observe/server/tcs/TcsControllerEpicsCommonSuite.scala
  modules/server_new/src/test/scala/observe/server/tcs/TcsControllerSuite.scala
  modules/server_new/src/test/scala/observe/server/tcs/TcsSuite.scala
  project/Common.scala
  project/Settings.scala
  project/build.properties
  project/plugins.sbt
  scalastyle-config.xml
Labels: engine, giapi, model, server_new

#776 Restored the CA xml files.
  modules/server_new/src/main/resources/Altair.xml
  modules/server_new/src/main/resources/DhsHdr.xml
  modules/server_new/src/main/resources/Flamingos2.xml
  modules/server_new/src/main/resources/Gcal.xml
  modules/server_new/src/main/resources/Gems.xml
  modules/server_new/src/main/resources/Gmos.xml
  modules/server_new/src/main/resources/Gnirs.xml
  modules/server_new/src/main/resources/Gsaoi.xml
  modules/server_new/src/main/resources/Gws.xml
  modules/server_new/src/main/resources/Nifs.xml
  modules/server_new/src/main/resources/Niri.xml
  modules/server_new/src/main/resources/Tcs.xml
Labels: server_new

#775 Remove metrics
  build.sbt
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveMetrics.scala
  project/Settings.scala
Labels: server_new

#777 More tests
  modules/engine/src/main/scala/observe/engine/Action.scala
  modules/model/shared/src/test/scala/observe/model/ModelLensesSuite.scala
  modules/model/shared/src/test/scala/observe/model/boopickle/ModelBooPicklersSuite.scala
  modules/server/src/test/scala/observe/server/ObserveEngineSpec.scala
  modules/server/src/test/scala/observe/server/StepsViewSpec.scala
  modules/server/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/test/scala/observe/server/KeywordArbitraries.scala
  modules/server_new/src/test/scala/observe/server/KeywordsSpec.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/StepsViewSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
Labels: engine, model, server_new

#778 Restore keywords tests
  modules/server_new/src/main/scala/observe/server/keywords/GdsClient.scala
  modules/server_new/src/test/resources/gds-bad-resp.xml
  modules/server_new/src/test/scala/observe/server/keywords/DhsClientSimSpec.scala
  modules/server_new/src/test/scala/observe/server/keywords/GdsClientSpec.scala
  modules/server_new/src/test/scala/observe/server/keywords/KeywordArbitraries.scala
  modules/server_new/src/test/scala/observe/server/keywords/KeywordsSpec.scala
Labels: server_new

#785 Atom boundaries
  modules/web/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/src/main/webapp/styles/observe.scss
  modules/web/vite.config.js
Labels: web

#789 Restore sequence load tests
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/model/shared/src/main/scala/observe/model/enums/Resource.scala
  modules/model/shared/src/main/scala/observe/model/operations.scala
  modules/model/shared/src/main/scala/observe/model/package.scala
  modules/server_new/src/main/scala/observe/server/InstrumentSystem.scala
  modules/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/StepType.scala
  modules/server_new/src/main/scala/observe/server/StepsView.scala
  modules/server_new/src/main/scala/observe/server/altair/AltairControllerEpics.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsControllerEpicsCommon.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsSettleTimeCalculator.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
Labels: engine, model, server_new

#794 Send the initial state on the first connection
  modules/model/jvm/src/main/scala/observe/model/config/LucumaSSOConfiguration.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/main/scala/observe/model/events.scala
  modules/model/shared/src/main/scala/observe/model/package.scala
  modules/model/shared/src/test/scala/observe/model/ClientEventSuite.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/test/scala/observe/model/arb/ArbClientId.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveEventRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Labels: model, server, web
