Repository gemini-hlsw/observe, pull requests merged in 2024-11, with the labels that each got.

#1400 Migrate to latest ODB changes: workflows and offsets in every sequence step
  modules/model/shared/src/main/scala/observe/model/ObserveStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbNodAndShuffleStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbStandardStep.scala
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/StepsView.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosStepsView.scala
  modules/server_new/src/main/scala/observe/server/keywords/ObsKeywordReader.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsNorth.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsSouth.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/CurrentAtomStepRow.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/package.scala
  project/Settings.scala
Labels: client, model, server_new

#1404 Remove temporal constraint
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
Labels: server_new

#1408 SC-3912 Produced percentile keywords from new constraint types.
  modules/model/shared/src/main/scala/observe/model/enums/KeywordName.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/keywords/ConditionOps.scala
  modules/server_new/src/main/scala/observe/server/keywords/ConditionSetReader.scala
  modules/server_new/src/main/scala/observe/server/keywords/ConstraintSetReader.scala
  modules/server_new/src/main/scala/observe/server/keywords/ObsKeywordReader.scala
  modules/server_new/src/main/scala/observe/server/keywords/StandardHeader.scala
Labels: model, server_new

#1410 SC-3950 Use guide environment for guide target keywords.
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/keywords/ObsKeywordReader.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Labels: server_new

#1431 Remove unused query
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Labels: server_new

#1436 Fix token refresh in ui
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/services/ApiClient.scala
  project/Settings.scala
Labels: client

#1437 Notify user of errors in engine
  modules/model/shared/src/main/scala/observe/model/Notification.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/events/ClientEvent.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
Labels: client, model, server_new
