Repository gemini-hlsw/observe, pull requests merged in 2024-10, with the labels that each got.

#1354 Migrate to new schema visit query
  modules/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
  project/Settings.scala
Labels: client, client-model

#1362 Tiny fixes to the dark theme
  .github/workflows/ci.yml
  modules/web/client/src/main/webapp/styles/observe.scss
  project/plugins.sbt
Labels: client

#1366 Remove skipped steps and startFrom
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/EngineStep.scala
  modules/engine/src/main/scala/observe/engine/Event.scala
  modules/engine/src/main/scala/observe/engine/Sequence.scala
  modules/engine/src/main/scala/observe/engine/UserEvent.scala
  modules/engine/src/test/scala/observe/engine/PackageSuite.scala
  modules/engine/src/test/scala/observe/engine/SequenceSuite.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/model/shared/src/main/scala/observe/model/ObserveStep.scala
  modules/model/shared/src/main/scala/observe/model/StepState.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbNodAndShuffleStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbStandardStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbStepState.scala
  modules/model/shared/src/test/scala/observe/model/ModelLensesSuite.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/StepsView.scala
  modules/server_new/src/main/scala/observe/server/events/package.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosStepsView.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/ObserveCommandRoutesSuite.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Labels: client, engine, model, server, server_new

#1391 Multiple library updates
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  project/Settings.scala
Labels: client, server_new

#1392 Workaround for bug on odb call
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/keywords/StandardHeader.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
Labels: engine, server_new

#1380 Added new conditions keywords.
  modules/model/shared/src/main/scala/observe/model/enums/KeywordName.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/keywords/ConditionOps.scala
  modules/server_new/src/main/scala/observe/server/keywords/ObsKeywordReader.scala
  modules/server_new/src/main/scala/observe/server/keywords/StandardHeader.scala
  modules/web/client/package-lock.json
Labels: client, model, server_new
