Repository gemini-hlsw/observe, pull requests merged in 2024-03, with the labels that each got.

#1005 Scala 3.4 compliant syntax
  .github/workflows/ci.yml
  build.sbt
  modules/model/shared/src/main/scala/observe/common/FixedLengthBuffer.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbStepConfig.scala
  modules/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  modules/model/shared/src/main/scala/observe/model/package.scala
  modules/model/shared/src/test/scala/observe/common/ArbitrariesCommon.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveEnvironment.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/StaticRoutes.scala
Labels: client, model, server, server_new

#1006 Bump versions
  modules/model/shared/src/main/scala/observe/model/enums/DailyProgramType.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/web/client/vite.config.js
  project/Settings.scala
Labels: client, model, server_new

#1024 Implemented automatic atom load
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/Event.scala
  modules/engine/src/main/scala/observe/engine/SystemEvent.scala
  modules/engine/src/main/scala/observe/engine/UserEvent.scala
  modules/engine/src/test/scala/observe/engine/SequenceSuite.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/engine/src/test/scala/observe/engine/packageSpec.scala
  modules/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqEvent.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Labels: engine, server_new

#1036 Fixed some bugs related to atoms
  modules/engine/src/main/scala/observe/engine/Action.scala
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
Labels: engine, server_new

#1043 Unify sequence table, show visits, virtualize
  .github/workflows/ci.yml
  README.md
  build.sbt
  modules/model/shared/src/main/scala/observe/model/arb/SequenceEventsArbitraries.scala
  modules/server/src/main/scala/observe/server/gsaoi/GsaoiControllerEpics.scala
  modules/server/src/test/scala/observe/server/ObserveServerArbitraries.scala
  modules/server/src/test/scala/observe/server/ObserveServerLensesSpec.scala
  modules/server/src/test/scala/observe/server/gems/GemsControllerEpicsSpec.scala
  modules/server/src/test/scala/observe/server/ghost/GhostArbitraries.scala
  modules/server/src/test/scala/observe/server/gpi/GpiArbitraries.scala
  modules/server_new/src/main/scala/observe/server/gsaoi/GsaoiControllerSim.scala
  modules/server_new/src/main/scala/observe/server/gsaoi/GsaoiGuider.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsControllerEpicsCommon.scala
  modules/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
  modules/web/client/src/clue/scala/observe/queries/VisitQueriesGQL.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableRow.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableVisits.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/CurrentAtomStepRow.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  modules/web_old/client/src/test/scala/observe/web/client/model/ArbitrariesWebClient.scala
  modules/web_old/client/src/test/scala/observe/web/client/model/ModelSpec.scala
  modules/web_old/client/src/test/scala/observe/web/client/model/PagesSpec.scala
  modules/web_old/client/src/test/scala/observe/web/client/model/arb/ArbTabOperations.scala
  project/Settings.scala
Labels: client, model, server_new, client-model

#1045 Controls for disabling subsystems
  modules/model/shared/src/main/scala/observe/model/SystemOverrides.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SubsystemOverrides.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/SubsystemControls.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ConfigApiImpl.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Labels: client, model

#1052 Extract common sequence table logic to lucuma-ui
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableRow.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableVisits.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/CurrentAtomStepRow.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/package.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  project/Settings.scala
Labels: client

#1059 Remove legacy event layer
  modules/model/shared/src/main/scala/observe/model/ModelLenses.scala
  modules/model/shared/src/main/scala/observe/model/SingleActionOp.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  modules/model/shared/src/main/scala/observe/model/arb/SequenceEventsArbitraries.scala
  modules/model/shared/src/main/scala/observe/model/events.scala
  modules/model/shared/src/main/scala/observe/model/events/ClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/events/package.scala
  modules/model/shared/src/test/scala/observe/model/ClientEventSuite.scala
  modules/model/shared/src/test/scala/observe/model/ModelLensesSuite.scala
  modules/model/shared/src/test/scala/observe/model/ModelSuite.scala
  modules/model/shared/src/test/scala/observe/model/ObserveEventSuite.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/events/TargetedClientEvent.scala
  modules/server_new/src/main/scala/observe/server/events/package.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveEventRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Labels: client, model, server, server_new
