Repository gemini-hlsw/observe, pull requests merged in 2024-01, with the labels that each got.

#922 Remove old prometheus files
  app/observe-server/src/universal/bin/jmx_prometheus_javaagent-0.3.1.jar
  app/observe-server/src/universal/bin/prometheus.yaml
Labels: observe-server

#925 Smooth progress bar
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ProgressLabel.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/scala/observe/ui/model/AppContext.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  project/Settings.scala
Labels: client

#924 Partially working event generation
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  modules/server_new/src/main/scala/observe/server/ObserveActions.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveEnvironment.scala
  modules/server_new/src/main/scala/observe/server/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/SeqEvent.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceData.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/server_new/src/main/scala/observe/server/syntax.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsControllerEpicsCommon.scala
  modules/server_new/src/main/scala/observe/server/tcs/package.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
Labels: server_new

#927 Remove ldap code
  modules/server_new/src/main/scala/observe/server/ObserveActions.scala
  modules/web_old/server/src/main/scala/observe/web/server/http4s/ObserveUIApiRoutes.scala
  modules/web_old/server/src/main/scala/observe/web/server/security/FreeLDAPAuthenticationService.scala
  modules/web_old/server/src/main/scala/observe/web/server/security/LdapConnectionOps.scala
  modules/web_old/server/src/main/scala/observe/web/server/security/authentication.scala
Labels: server_new

#931 Unify client and server configuration
  build.sbt
  deploy/observe-server-gn-test/src/main/resources/app/environments.conf.json
  deploy/observe-server-gn-test/src/main/resources/conf/app.conf
  deploy/observe-server-gn/src/main/resources/conf/app.conf
  deploy/observe-server-gs-test/src/main/resources/conf/app.conf
  deploy/observe-server-gs/src/main/resources/conf/app.conf
  deploy/observe-server-staging/src/main/resources/app/environments.conf.json
  deploy/observe-server-staging/src/main/resources/conf/app.conf
  modules/model/jvm/src/main/scala/observe/model/config/Mode.scala
  modules/model/jvm/src/main/scala/observe/model/config/ObserveConfiguration.scala
  modules/model/jvm/src/test/scala/observe/model/config/ConfigModelSuite.scala
  modules/model/shared/src/main/scala/observe/model/ClientConfig.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientConfig.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbEnvironment.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/test/scala/observe/model/ModelSuite.scala
  modules/web/client-model/src/main/scala/observe/ui/model/RootModel.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
  modules/web/client/src/main/public/environments.conf.json
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/TopBar.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/model/AppConfig.scala
  modules/web/client/src/main/scala/observe/ui/model/AppContext.scala
  modules/web/client/src/main/scala/observe/ui/model/reusability.scala
  modules/web/client/vite.config.js
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/main/scala/observe/web/server/config/package.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveEventRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  project/Settings.scala
Labels: client, model, server, observe-server-gn, observe-server-gn-test, observe-server-gs, observe-server-gs-test, client-model

#929 Reduced duplicated step types
  modules/engine/src/main/scala/observe/engine/ActionCoords.scala
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/EngineStep.scala
  modules/engine/src/main/scala/observe/engine/Event.scala
  modules/engine/src/main/scala/observe/engine/Sequence.scala
  modules/engine/src/main/scala/observe/engine/SystemEvent.scala
  modules/engine/src/main/scala/observe/engine/UserEvent.scala
  modules/engine/src/test/scala/observe/engine/SequenceSuite.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/engine/src/test/scala/observe/engine/packageSpec.scala
  modules/model/shared/src/main/scala/observe/model/ModelLenses.scala
  modules/model/shared/src/main/scala/observe/model/Notification.scala
  modules/model/shared/src/main/scala/observe/model/ObserveStep.scala
  modules/model/shared/src/main/scala/observe/model/RunningStep.scala
  modules/model/shared/src/main/scala/observe/model/SequenceView.scala
  modules/model/shared/src/main/scala/observe/model/SingleActionOp.scala
  modules/model/shared/src/main/scala/observe/model/UserPrompt.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbNodAndShuffleStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbNotification.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbRunningStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbStandardStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbStepProgress.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbUserPrompt.scala
  modules/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  modules/model/shared/src/main/scala/observe/model/arb/SequenceEventsArbitraries.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/model/shared/src/main/scala/observe/model/events.scala
  modules/model/shared/src/main/scala/observe/model/newTypes.scala
  modules/model/shared/src/main/scala/observe/model/package.scala
  modules/model/shared/src/test/scala/observe/common/test/package.scala
  modules/model/shared/src/test/scala/observe/model/ModelLensesSuite.scala
  modules/model/shared/src/test/scala/observe/model/ModelSuite.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/SeqEvent.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/StepsView.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosStepsView.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Labels: engine, model, server, server_new

#934 Restore unit tests for target check
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
Labels: server_new

#943 Render nextAtom received from server
  modules/model/shared/src/main/scala/observe/model/ExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/ObserveStep.scala
  modules/model/shared/src/main/scala/observe/model/StepState.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/client.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTables.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/CurrentAtomStepRow.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepTime.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/package.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  project/Settings.scala
Labels: client, model

#944 Auto deploy staging app to Heroku upon merge
  .github/workflows/ci.yml
  .gitignore
  .mergify.yml
  build.sbt
  modules/web/client/.npmrc
  modules/web/client/package-lock.json
Labels: client

#946 Remove startFrom button from steps
  README.md
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
Labels: client

#948 Keep recorded ids inside ODB proxy
  build.sbt
  modules/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  modules/server_new/src/main/scala/observe/server/ObserveActions.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveEnvironment.scala
  modules/server_new/src/main/scala/observe/server/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/SeqEvent.scala
  modules/server_new/src/main/scala/observe/server/SequenceData.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosInstrumentActions.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/odb/RecordedIds.scala
  modules/server_new/src/main/scala/observe/server/odb/newTypes.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
Labels: client, server_new

#950 Remove recorded ids from state
  modules/server_new/src/main/scala/observe/server/ODBSequencesLoader.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqEvent.scala
  modules/server_new/src/main/scala/observe/server/SequenceData.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/package.scala
Labels: client, server_new

#955 ODB Proxy: Track dataset ids, rework id tracking
  modules/server_new/src/main/scala/observe/server/ObserveActions.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/odb/IdTrackerOps.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/odb/RecordedIds.scala
  modules/server_new/src/main/scala/observe/server/odb/newTypes.scala
Labels: server_new

#956 Move to React 18
  modules/web/client/package-lock.json
  modules/web/client/package.json
  modules/web/client/src/main/scala/observe/ui/Main.scala
  project/Settings.scala
Labels: client
