Repository gemini-hlsw/observe, pull requests merged in 2024-02, with the labels that each got.

#962 Bump libs
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  project/Settings.scala
Labels: client

#974 Emit ODB events while running an observation
  modules/engine/src/main/scala/observe/engine/Handle.scala
  modules/engine/src/main/scala/observe/engine/Sequence.scala
  modules/model/shared/src/main/scala/observe/model/ActionType.scala
  modules/server_new/src/main/scala/observe/server/ObserveActions.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/SequenceData.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  project/Settings.scala
Labels: engine, model, server_new

#979 Unbump core, fileId simulated logic
  modules/server_new/src/main/scala/observe/server/keywords/DhsClientDisabled.scala
  modules/server_new/src/main/scala/observe/server/keywords/DhsClientHttp.scala
  modules/server_new/src/main/scala/observe/server/odb/IdTrackerOps.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/keywords/DhsClientSimSpec.scala
  project/Settings.scala
Labels: server_new

#981 Single image deploy
  .mergify.yml
  README.md
  build.sbt
  deploy/confs/gn-test/app.conf
  deploy/confs/gn/app.conf
  deploy/confs/gs-test/app.conf
  deploy/confs/gs/app.conf
  deploy/confs/local/app.conf
  deploy/confs/local/cacerts.jks.dev
  deploy/src/main/resources/conf/app.conf
  deploy/src/main/resources/systemd/observe-server.env
  deploy/src/main/resources/systemd/observe-server.service
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Labels: server
