Repository gemini-hlsw/observe, pull requests merged in 2024-04, with the labels that each got.

#1063 Fixed encoding of GMOS grating order
  modules/server_new/src/main/scala/observe/server/gmos/GmosControllerEpics.scala
Labels: server_new

#1067 Correctly update steps when loading new atom.
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosControllerSim.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
Labels: client, server_new

#1078 Reinstate column resizing
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  project/Settings.scala
Labels: client

#1079 Filter observations by site in the UI
  modules/model/shared/src/main/scala/observe/model/package.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
Labels: client, model

#1084 Add button to expand/collapse all visits
  modules/web/client/src/main/scala/observe/ui/Icons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Labels: client

#1082 Auto-scroll to current step in sequence table
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
Labels: client

#1100 Backend interface for requesting next atom.
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqEvent.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/web/client/src/main/scala/observe/ui/Icons.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/vars.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Labels: client, server, server_new
