Repository gemini-hlsw/observe, pull requests merged in 2024-06, with the labels that each got.

#1171 Record original generated ids
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  project/Settings.scala
Labels: server_new

#1175 Edit datasets QA
  modules/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client/src/clue/scala/observe/queries/VisitQueriesGQL.scala
  modules/web/client/src/main/scala/observe/ui/Icons.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/AcquisitionPrompt.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/SubsystemControls.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
  project/Settings.scala
Labels: client, client-model

#1180 Autoscroll on load and notable status changes
  modules/web/client/package-lock.json
  modules/web/client/package.json
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/webapp/styles/prime.scss
Labels: client

#1188 Accept guide configuration commands over the plain http channel
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Labels: server

#1182 Show dataset links (if valid)
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  modules/web/client/src/main/scala/observe/ui/model/AppContext.scala
  project/Settings.scala
Labels: client

#1191 Update GuideConfigurations
  modules/server_new/src/main/scala/observe/server/tcs/GuideConfigDb.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsConfigRetriever.scala
  modules/server_new/src/test/scala/observe/server/tcs/GuideConfigDbSuite.scala
  modules/server_new/src/test/scala/observe/server/tcs/TcsControllerEpicsCommonSuite.scala
  project/Settings.scala
Labels: server_new

#1195 Edit QA with comments
  modules/web/client/src/clue/scala/observe/queries/VisitQueriesGQL.scala
  modules/web/client/src/main/scala/observe/ui/Icons.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/QaEditor.scala
  modules/web/client/src/main/scala/observe/ui/model/AppContext.scala
  modules/web/client/src/main/scala/observe/ui/model/EditableQaFields.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  project/Settings.scala
Labels: client

#1206 Update resize detector lib
  modules/web/client/package-lock.json
  modules/web/client/package.json
  project/Settings.scala
Labels: client

#1222 Minor changes
  flake.nix
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
Labels: client
