Repository gemini-hlsw/observe, pull requests merged in 2024-05, with the labels that each got.

#1106 Fix duplicate expand buttons and extract observation execution component
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Labels: client

#1120 Avoid progress bar from going backwards
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
Labels: client

#1121 Require staff on UI, unless running on dev environment
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/SubsystemControls.scala
  project/Settings.scala
Labels: client

#1122 Upgrade libs with the now required explicit circe codecs
  modules/model/shared/src/main/scala/observe/model/Conditions.scala
  modules/model/shared/src/main/scala/observe/model/InstrumentDynamicConfig.scala
  modules/model/shared/src/main/scala/observe/model/ObserveStep.scala
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
  modules/model/shared/src/main/scala/observe/model/SystemOverrides.scala
  modules/model/shared/src/main/scala/observe/model/UserPrompt.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbInstrumentDynamicConfig.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbNodAndShuffleStep.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbStandardStep.scala
  modules/model/shared/src/main/scala/observe/model/events/ClientEvent.scala
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/StepsView.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosStepsView.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/CurrentAtomStepRow.scala
  project/Settings.scala
Labels: client, model, server_new

#1123 Atom start/end invocations in ODBProxy
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  project/Settings.scala
Labels: server_new

#1124 Small UI fixes
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/webapp/styles/prime.scss
Labels: client

#1125 ApiClient in state instead of just a val
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
Labels: client

#1126 Refresh sequence after each completed step
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApi.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
Labels: client

#1127 Incremental visits query
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
Labels: client

#1129 Auto scroll past the visits on sequence load, using virtualizer
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
Labels: client

#1128 Incremental visits query actually working
  modules/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
  project/Settings.scala
Labels: client, client-model

#1115 Only expand/collapse visits in sequence table and add separate buttons
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Labels: client

#1130 Acquisition atoms on demand
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/Event.scala
  modules/engine/src/main/scala/observe/engine/Handle.scala
  modules/engine/src/main/scala/observe/engine/Sequence.scala
  modules/engine/src/main/scala/observe/engine/SystemEvent.scala
  modules/engine/src/test/scala/observe/engine/SequenceSuite.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/engine/src/test/scala/observe/engine/packageSpec.scala
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
  modules/model/shared/src/main/scala/observe/model/SequenceView.scala
  modules/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  modules/model/shared/src/test/scala/observe/common/test/package.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/main/scala/observe/server/syntax.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveCommandRoutes.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
  modules/web_old/client/src/main/scala/observe/web/client/components/SessionQueueTable.scala
  modules/web_old/client/src/main/scala/observe/web/client/components/queue/CalQueueTable.scala
  modules/web_old/client/src/main/scala/observe/web/client/components/tabs/ObserveTabs.scala
  modules/web_old/client/src/main/scala/observe/web/client/components/tabs/SequenceTab.scala
  modules/web_old/client/src/main/scala/observe/web/client/model/ModelOps.scala
Labels: client, engine, model, server, server_new

#1131 UI for prompting whether user wants to continue acquisition
  modules/model/shared/src/main/scala/observe/model/ExecutionState.scala
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientEvent.scala
  modules/web/client-model/src/main/scala/observe/ui/model/ObservationRequests.scala
  modules/web/client-model/src/main/scala/observe/ui/model/enums/OperationRequest.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbObservationRequests.scala
  modules/web/client/src/main/scala/observe/ui/Icons.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/AcquisitionPrompt.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/model/reusability.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApi.scala
  modules/web/client/src/main/scala/observe/ui/services/SequenceApiImpl.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  project/Settings.scala
Labels: client, model, client-model

#1132 Update JS dependencies, fix dependabot, update lucuma-react
  .github/dependabot.yml
  modules/web/client/package-lock.json
  modules/web/client/package.json
  modules/web/client/src/main/scala/observe/ui/components/package.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  project/Settings.scala
Labels: client

#1137 Move execution state to table meta
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  project/Settings.scala
Labels: client

#1138 Use useEffectStream where possible
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  project/Settings.scala
Labels: client

#1139 Smooth progress bar working
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ProgressLabel.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
Labels: client

#1161 Bump versions
  modules/model/shared/src/main/scala/observe/model/ModelLenses.scala
  modules/model/shared/src/main/scala/observe/model/SequenceMetadata.scala
  modules/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  modules/model/shared/src/test/scala/observe/model/ModelLensesSuite.scala
  modules/server_new/src/main/scala/observe/server/keywords/ObsKeywordReader.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbObsSummary.scala
  modules/web/client/package-lock.json
  modules/web/client/package.json
  project/Settings.scala
Labels: client, model, server_new, client-model
