Repository gemini-hlsw/observe, pull requests merged in 2024-09, with the labels that each got.

#1323 Updated scala and libraries.
  .github/workflows/ci.yml
  build.sbt
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/Event.scala
  modules/engine/src/main/scala/observe/engine/Handle.scala
  modules/model/shared/src/main/scala/observe/model/package.scala
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/altair/AltairHeader.scala
  modules/server_new/src/main/scala/observe/server/altair/AltairLgsHeader.scala
  modules/server_new/src/main/scala/observe/server/gcal/GcalHeader.scala
  modules/server_new/src/main/scala/observe/server/gems/GemsHeader.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosController.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosHeader.scala
  modules/server_new/src/main/scala/observe/server/gsaoi/GsaoiEpics.scala
  modules/server_new/src/main/scala/observe/server/keywords/Header.scala
  modules/server_new/src/main/scala/observe/server/keywords/StandardHeader.scala
  modules/server_new/src/main/scala/observe/server/syntax.scala
  modules/server_new/src/main/scala/observe/server/tcs/package.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  modules/server_new/src/test/scala/observe/server/StepsViewSuite.scala
  modules/web/client-model/src/main/scala/observe/ui/model/LoadedObservation.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbRootModel.scala
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  modules/web/client/src/main/scala/observe/ui/utils.scala
  modules/web/client/vite.config.js
  project/Settings.scala
Labels: client, engine, model, server_new, client-model

#1324 Rename visualizationTime to observationTime
  modules/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbObsSummary.scala
  modules/web/client/src/clue/scala/observe/queries/ObservationSummarySubquery.scala
Labels: client, client-model

#1331 Fixed subscription with empty selection.
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
Labels: server_new

#1332 Fixed subscription with empty selection.
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
Labels: client, server_new
