Repository gemini-hlsw/observe, pull requests merged in 2024-12, with the labels that each got.

#1439 Show under construction in unimplemented tabs
  modules/web/client/src/main/scala/observe/ui/components/Routing.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  project/Settings.scala
Labels: client

#1438 Make observe reload the current atom at the end of each step
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/Event.scala
  modules/engine/src/main/scala/observe/engine/Handle.scala
  modules/engine/src/main/scala/observe/engine/Sequence.scala
  modules/engine/src/test/scala/observe/engine/PackageSuite.scala
  modules/engine/src/test/scala/observe/engine/SequenceSuite.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/SeqEvent.scala
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestObserveEngine.scala
Labels: engine, server, server_new

#1446 Switch server to HTTP client for invoking ODB (instead of WS)
  deploy/confs/gn-test/app.conf
  deploy/confs/gn/app.conf
  deploy/confs/gs-test/app.conf
  deploy/confs/gs/app.conf
  deploy/src/main/resources/conf/app.conf
  modules/model/jvm/src/main/scala/observe/model/config/ObserveEngineConfiguration.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveEventRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  project/Settings.scala
Labels: model, server, server_new, deploy

#1455 Better log formatting
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/LogArea.scala
Labels: client

#1452 Library updates
  modules/engine/src/test/scala/observe/engine/PackageSuite.scala
  modules/web/server/src/test/scala/observe/web/server/http4s/TestRoutes.scala
  project/Settings.scala
Labels: engine, server

#1445 Support setting the RELEASE keyword
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/main/scala/observe/server/keywords/ObsKeywordReader.scala
  modules/server_new/src/main/scala/observe/server/keywords/StandardHeader.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Labels: server_new

#1457 Avoid showing acquisition nextAtom, fix step buttons
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Labels: client

#1458 Try to deploy observe-gn-dev to heroku
  deploy/src/main/resources/conf/app.conf
Labels: deploy

#1459 Try to deploy to both sites
  .github/workflows/ci.yml
  build.sbt
  deploy/src/main/resources/conf/app.conf
Labels: deploy

#1460 Use an env variable to load the SSO public key
  deploy/src/main/resources/conf/app.conf
Labels: deploy

#1461 Build for linux/amd64, useful for local deployments
  build.sbt
  deploy/src/main/resources/conf/app.conf
Labels: deploy

#1470 Explicit table sorting, attachment migration, sass syntax
  modules/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbObsSummary.scala
  modules/web/client/src/clue/scala/observe/queries/ObservationSummarySubquery.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
  modules/web/client/src/main/webapp/styles/prime.scss
  project/Settings.scala
Labels: client, client-model

#1475 Use odb breakpoints when creating the engine steps
  modules/engine/src/main/scala/observe/engine/EngineStep.scala
  modules/engine/src/test/scala/observe/engine/PackageSuite.scala
  modules/engine/src/test/scala/observe/engine/SequenceSuite.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/server_new/src/main/scala/observe/server/SequenceGen.scala
Labels: engine, server_new

#1478 Links to explore
  modules/model/jvm/src/main/scala/observe/model/config/ObserveConfiguration.scala
  modules/model/shared/src/main/scala/observe/model/ClientConfig.scala
  modules/model/shared/src/main/scala/observe/model/arb/ArbClientConfig.scala
  modules/web/client/src/main/scala/observe/ui/Icons.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/main/scala/observe/web/server/http4s/ObserveEventRoutes.scala
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
Labels: client, model, server

#1479 Add explore url to all configurations
  deploy/confs/gn-test/app.conf
  deploy/confs/gn/app.conf
  deploy/confs/gs-test/app.conf
  deploy/confs/gs/app.conf
  deploy/confs/local/app.conf
  deploy/src/main/resources/conf/app.conf
Labels: deploy

#1480 Remove unused prism
  modules/model/shared/src/main/scala/observe/model/ModelLenses.scala
  modules/model/shared/src/test/scala/observe/model/ModelLensesSuite.scala
Labels: model

#1484 Use the site to generate filenames
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/keywords/DhsClientHttp.scala
  modules/server_new/src/test/scala/observe/server/keywords/DhsClientSimSpec.scala
Labels: server_new

#1485 Hide buttons to collapse/hide visits if there are no visits
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
Labels: client

#1494 Correctly estimate row height in sequence table
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  project/Settings.scala
Labels: client

#1498 Move theme vars to lucuma-ui
  modules/web/client/src/main/webapp/styles/prime.scss
  modules/web/server/src/main/resources/app.conf
  project/Settings.scala
Labels: client, server

#1500 Show obsid when obs reference is none
  modules/model/shared/src/main/scala/observe/model/ClientConfig.scala
  modules/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  modules/web/client-model/src/test/scala/observe/ui/model/arb/ArbObsSummary.scala
  modules/web/client/src/clue/scala/observe/queries/ObservationSummarySubquery.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
Labels: client, model, client-model

#1495 Improve how aborted steps are presented
  modules/engine/src/main/scala/observe/engine/SystemEvent.scala
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Labels: client, engine

#1501 Use stepAbort for aborting a step
  modules/server_new/src/main/scala/observe/server/ObserveActions.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Labels: server_new

#1520 Bump libraries, scala 3.6 migration
  .github/workflows/ci.yml
  build.sbt
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/model/shared/src/main/scala/observe/model/ActionType.scala
  modules/model/shared/src/main/scala/observe/model/LogMessage.scala
  modules/model/shared/src/main/scala/observe/model/package.scala
  modules/server_new/src/main/scala/observe/server/InstrumentControllerSim.scala
  modules/web/client/vite.config.js
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  project/Settings.scala
Labels: client, engine, model, server, server_new

#1521 Indicate executed steps status, disable QA selector unless step was completed
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/package.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  project/Settings.scala
Labels: client

#1522 Disable subsystem configuration during observation
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/SubsystemControls.scala
Labels: client

#1525 Show current aborted step as idle
  modules/web/client/src/main/scala/observe/ui/ObserveStyles.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/webapp/styles/observe.scss
Labels: client

#1530 Send a event to the ODB when a step is stopped in the middle
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Labels: server_new

#1528 UI improvements after step abort
  modules/model/shared/src/main/scala/observe/cats.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ServerEventHandler.scala
  project/Settings.scala
Labels: client, model
