Repository gemini-hlsw/observe, pull requests merged in 2025-06, with the labels that each got.

#1834 Rename config.sh to avoid overwrites
  deploy/scripts/install.sh
Labels: deploy

#1839 Fix prod GS epics address list
  deploy/conf/production-gs/site.conf
Labels: deploy

#1840 Avoid scrolling to top of table between steps, fix DhsClientDisabled
  modules/server_new/src/main/scala/observe/server/keywords/DhsClientDisabled.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
Labels: client, server_new

#1846 Update odb schema and libs
  modules/server_new/src/main/scala/observe/server/gmos/GmosController.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosControllerEpics.scala
  project/Settings.scala
Labels: server_new

#1847 Improve client event stream
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/web/server/src/main/resources/base.conf
Labels: server, server_new

#1848 Bump clue
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  project/Settings.scala
  project/plugins.sbt
Labels: server_new

#1874 Add basic tracing, skip empty streams
  build.sbt
  deploy/conf/production-gn/logback.xml
  deploy/conf/production-gs/logback.xml
  deploy/conf/staging-gn/logback.xml
  deploy/conf/staging-gs/logback.xml
  deploy/scripts/config.sh.template
  modules/model/jvm/src/main/scala/observe/model/config/HoneycombConfiguration.scala
  modules/model/jvm/src/main/scala/observe/model/config/ObserveConfiguration.scala
  modules/server_new/src/main/scala/observe/server/Systems.scala
  modules/server_new/src/main/scala/observe/server/engine/Engine.scala
  modules/web/server/src/main/resources/base.conf
  modules/web/server/src/main/resources/logback.xml
  modules/web/server/src/main/scala/observe/web/server/http4s/WebServerLauncher.scala
  project/Settings.scala
  project/plugins.sbt
Labels: model, server, server_new, deploy

#1880 Solve early completion
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngineImpl.scala
  modules/server_new/src/main/scala/observe/server/engine/Engine.scala
  modules/server_new/src/main/scala/observe/server/engine/Sequence.scala
  modules/server_new/src/main/scala/observe/server/engine/package.scala
  modules/server_new/src/test/scala/observe/server/SeqTranslateSuite.scala
  modules/server_new/src/test/scala/observe/server/engine/SequenceSuite.scala
  modules/server_new/src/test/scala/observe/server/engine/StepSuite.scala
Labels: server_new

#1887 Remove log messages and avoid reading sequence if edit event is received during execution
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/engine/Engine.scala
  modules/server_new/src/main/scala/observe/server/engine/Sequence.scala
Labels: server_new
