Repository gemini-hlsw/observe, pull requests merged in 2025-01, with the labels that each got.

#1540 Don't show acquisition seq for completed observations
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
Labels: client

#1558 SC-4526 Fixed duplicated RELEASE keyword.
  modules/engine/src/main/scala/observe/engine/SystemEvent.scala
  modules/server_new/src/main/scala/observe/server/ObserveEngine.scala
  modules/server_new/src/main/scala/observe/server/keywords/ObsKeywordReader.scala
  modules/server_new/src/main/scala/observe/server/keywords/StandardHeader.scala
Labels: engine, server_new

#1559 Fixed calculation of IQ percentile values.
  modules/server_new/src/main/scala/observe/server/keywords/ConditionOps.scala
  modules/server_new/src/test/scala/observe/server/keywords/ConditionOpsSuite.scala
Labels: server_new

#1572 Update clue
  modules/server_new/src/main/scala/observe/server/odb/OdbProxy.scala
  modules/server_new/src/main/scala/observe/server/package.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/scala/observe/ui/model/AppContext.scala
  modules/web/client/src/main/scala/observe/ui/package.scala
  modules/web/client/src/main/scala/observe/ui/services/ODBQueryApiImpl.scala
  project/Settings.scala
  project/plugins.sbt
Labels: client, server_new

#1581 SC-4518 Get guiding configuration from observation.
  modules/server_new/src/main/scala/observe/server/tcs/TcsNorth.scala
  modules/server_new/src/main/scala/observe/server/tcs/TcsSouth.scala
  modules/server_new/src/test/scala/observe/server/tcs/TcsNorthSuite.scala
  modules/server_new/src/test/scala/observe/server/tcs/TcsSouthSuite.scala
Labels: server_new

#1592 Revert "Bump react from 18.3.1 to 19.0.0 in /modules/web/client"
  modules/web/client/package-lock.json
  modules/web/client/package.json
Labels: client

#1607 SC-4148 Reload atom every time the execution starts.
  modules/engine/src/main/scala/observe/engine/Engine.scala
  modules/engine/src/main/scala/observe/engine/Sequence.scala
  modules/engine/src/test/scala/observe/engine/PackageSuite.scala
  modules/engine/src/test/scala/observe/engine/StepSuite.scala
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
  modules/model/shared/src/main/scala/observe/model/SequenceView.scala
  modules/model/shared/src/main/scala/observe/model/arb/ObserveModelArbitraries.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
Labels: client, engine, model, server_new

#1609 SC-4493 Use central wavelength from the step.
  modules/server_new/src/main/scala/observe/server/SeqTranslate.scala
Labels: server_new
