Repository gemini-hlsw/observe, pull requests merged in 2025-08, with the labels that each got.

#1945 Remove unused workflow from observation detail query
  modules/server_new/src/clue/scala/observe/common/ObsQueriesGQL.scala
  modules/server_new/src/test/scala/observe/server/ObserveEngineSuite.scala
  modules/server_new/src/test/scala/observe/server/TestCommon.scala
  modules/server_new/src/test/scala/observe/server/engine/TestUtil.scala
  modules/server_new/src/test/scala/observe/server/odb/TestOdbProxy.scala
Labels: server_new

#1962 Show F2 and GMOS imaging config in observation selector
  modules/web/client-model/src/main/scala/observe/ui/model/ObsSummary.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/ObsListPopup.scala
Labels: client, client-model

#1970 Workaround for max memory in heroku+docker woes
  build.sbt
  deploy/_init/set-memory.sh
Labels: deploy
