Repository gemini-hlsw/observe, pull requests merged in 2025-02, with the labels that each got.

#1616 Catch all query
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
Labels: client

#1630 Fix glitches during sequence execution
  .gitignore
  modules/engine/src/main/scala/observe/engine/Sequence.scala
  modules/model/shared/src/main/scala/observe/model/SequenceState.scala
  modules/model/shared/src/main/scala/observe/model/StepProgress.scala
  modules/web/client/src/main/scala/observe/ui/components/ConfigPanel.scala
  modules/web/client/src/main/scala/observe/ui/components/Home.scala
  modules/web/client/src/main/scala/observe/ui/components/Layout.scala
  modules/web/client/src/main/scala/observe/ui/components/LogArea.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/ObservationSequence.scala
  modules/web/client/src/main/scala/observe/ui/components/TopBar.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObsHeader.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/ObservationExecutionDisplay.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SeqControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableBuilder.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SubsystemOverrides.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosNorthSequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/byInstrument/GmosSouthSequenceTable.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/AcquisitionPrompt.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ControlButtonResolver.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ExposureControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ProgressLabel.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/QaEditor.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/SettingsCell.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/SubsystemControls.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/package.scala
  modules/web/client/src/main/scala/observe/ui/components/services/ObservationSyncer.scala
  modules/web/client/src/main/webapp/styles/observe.scss
  project/Settings.scala
Labels: client, engine, model

#1631 Query ready observations by site
  modules/model/shared/src/main/scala/observe/model/extensions.scala
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/queue/SessionQueue.scala
  project/Settings.scala
Labels: client, model

#1632 SC-4811 Fixed transformation of DB guide configuration.
  modules/server_new/src/main/scala/observe/server/tcs/Tcs.scala
  modules/web/server/src/main/resources/app.conf
Labels: server, server_new

#1633 Exposure controls fixes
  modules/model/shared/src/main/scala/observe/model/ObserveStage.scala
  modules/model/shared/src/main/scala/observe/model/StepProgress.scala
  modules/server_new/src/main/scala/observe/server/EpicsUtil.scala
  modules/server_new/src/main/scala/observe/server/ProgressUtil.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ExposureControlButtons.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/ObservationProgressBar.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/StepProgressCell.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/steps/package.scala
  modules/web/server/src/main/resources/app.conf
Labels: client, model, server, server_new

#1635 Update lucuma-ui
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
  modules/web/client/src/main/scala/observe/ui/components/sequence/SequenceTableDefs.scala
  project/Settings.scala
Labels: client

#1636 Use activeStart to filter observations
  modules/web/client/src/clue/scala/observe/queries/ObsQueriesGQL.scala
  modules/web/client/src/main/scala/observe/ui/components/MainApp.scala
Labels: client

#1638 SC-4865 Fixed extraction of shutter configuration for GMOS.
  modules/server_new/src/main/scala/observe/server/gmos/Gmos.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosController.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosControllerEpics.scala
Labels: server_new

#1639 Modified code to use enums with Enumerated.
  modules/model/jvm/src/main/scala/observe/model/config/ControlStrategy.scala
  modules/model/shared/src/main/scala/observe/model/enums/ApplyCommandResult.scala
  modules/model/shared/src/main/scala/observe/model/enums/BatchExecState.scala
  modules/model/shared/src/main/scala/observe/model/enums/FPUMode.scala
  modules/model/shared/src/main/scala/observe/model/enums/FocalPlane.scala
  modules/model/shared/src/main/scala/observe/model/enums/ObsActiveStatus.scala
  modules/model/shared/src/main/scala/observe/model/enums/RunOverride.scala
  modules/model/shared/src/main/scala/observe/model/enums/ScienceMode.scala
  modules/model/shared/src/main/scala/observe/model/enums/SpectroscopyCapabilities.scala
  modules/model/shared/src/main/scala/observe/model/enums/StepType.scala
  modules/server/src/main/scala/observe/server/ghost/GhostController.scala
  modules/server_new/src/main/scala/observe/server/EpicsHealth.scala
  modules/server_new/src/main/scala/observe/server/gmos/GmosController.scala
  modules/server_new/src/main/scala/observe/server/gmos/NodAndShuffleState.scala
  modules/server_new/src/main/scala/observe/server/gmos/package.scala
  modules/server_new/src/main/scala/observe/server/gsaoi/GsaoiGuider.scala
  modules/server_new/src/main/scala/observe/server/gws/GwsEpics.scala
Labels: model, server_new
